* {
    margin: 0;
    box-sizing: border-box;
}

.main h1{    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.main{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
}

.main-img{
    width: 100%;
    max-width: 90wh; /*prevent it from growing too wide*/
    height: auto;   /*preserves aspect ratio*/
    max-height: 400px; /*caps height*/
    display: block;
    object-fit: cover; /*crops image proportionally if needed*/
    filter: brightness(60%);
}

.main_container{
    display: grid;
    /*grid-template-columns: 4fr 1fr; /*2 evenly spread out box*/
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main_content{
    color: #000;
    width: 100%;
    padding: 2rem 0;
}

.main_content h2{
    font-size: 2rem;
    margin-top: 1.5rem;
}

.main_content p{
    font-size: 1.2rem;
    padding-top: 1rem;
}

.main_content ul{
    font-size: 1.2rem;
    padding-top: 10px;
    padding-left: 2rem;
    padding-bottom: 10px;
    margin-bottom:0.4rem;
}

.main_content li{
    padding-bottom: 5px;
    margin-bottom: 0.4rem;
}

.highlight{
    background-color: #f8c8ff;
    padding: 2rem;
    justify-content: center;
    border-left: 5px solid #000000;
    font-weight: 500;
    grid-column: 1/-1;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.main_img_container{
    text-align: center;
}

.main_img_card{
    margin-top: 1rem;
    height: 500px;
    width: 500px;
    flex-direction:column;
    justify-content: center;
    color: #ddce00;
    background-image: linear-gradient(to right, #3e5b5b 0%, #00dddd 100%);
}

/* Strong/bold text emphasis */
strong {
    font-weight: bold; /* Makes text bold */
}

@media(max-width: 850px){
    .main_container {
        grid-template-columns: 1fr; /* single column */
        padding: 0 40px;            /* optional: reduce side padding */
    }
}

@media (max-width: 600px){
    .main h1{
        font-size: 2rem;
        padding: 0.5rem;
    }

    .main-img{
        max-height: 200px;
    }

    .main_container {
        grid-template-columns: 1fr; /* single column */
        padding: 0 20px;            /* optional: reduce side padding */
    }
    
    .main_content h2{
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .main_content p{
        font-size: 1rem;
    }

    .main_cotent ul{
        font-size: 1rem;
        margin-left: 1.5rem;
    }

    .main_content li{
        font-size: 1rem;
    }

    .main_img_card{
        height: 250px;
        width: 250px;
    }

    .highlight{
        padding: 1.2rem;
        font-size: 1rem;
    }
}