/* Floating button */
.chatbox-toggle {
    position:fixed;
    bottom: 20px;
    right:20px;
    border: none;
    border-radius:50%;
    width: 60px;
    height:60px;
    cursor:pointer;
    font-size:26px;
    background: black;
    color: #fff;
    box-shadow: 0 4px rgba(0,0,0,0.2);
}

/* chatbox popup window */
.chatbox-popup {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 320px;
    max-height: 420px;
    background: #fff;
    border-radius: 12px;
    box-shadow:  0 4px 15px rgba(0,0,0,0.15);
    display: none;  
    overflow: hidden;       /* means it will be hidden at first */
    display: flex;          /* HATE USING FLEX */
    flex-direction: column;
    font-family: Arial, sans-seif;
}

.chatbox-header {
    padding: 10px 12px;
    background: black;
    color: #fff;
    font-size:18px;
    cursor:pointer;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.chatbox-body {
    /* display: flex; */
    border-top: 1px solid #ddd;
}

.chatbox-input-bar {
    display: flex;
    border-top: 1px solid #ddd;
}

.chatbox-input-bar input {
    flex: 1;
    border: none;
    padding: 15px;
    outline: none;
}

.chatbox-input-bar button {
    border:none;
    padding: 10px 14px;
    cursor: pointer;
    background: black;
    color: #fff;
}

/* for the messages */
.msg {
    margin: 6px 0;
    padding: 7px 8px;
    border-radius: 8px;
    font-size: 14px;
    max-width: 80%;
}

.msg.user {
    background: black;
    color: #fff;
    margin-left: auto;  /* pushes the user msg to right */
    padding: 8px 10px;
}

.msg.bot {
    background: #fff;
    border: 2px solid #bfbfbf;
    border-radius: 8px;
    padding: 8px 10px;
    margin-left:10px;
}