.info-section {
    padding:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:20px;
    margin-left:20px;
}

.info-block {
    padding:10px;    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:20px;
    margin-left:20px;
}